
{{ with site.Data.homepage.blob }}
<section id="try" class="py-6" aria-labelledby="blob-label">
  <div class="container">
    <div class="text-center mb-5">
      <h2 id="blob-label" class="recoleta-medium mb-5 display-5">{{ .heading }}</h2>
      <div class="row">
        {{ range .tries }}          
          <div class="col-md-6 col-lg-3 text-center mb-4 mb-lg-0">
            {{ if .icon }}
              {{ partial "simple/icon.html" ( dict "icon" .icon "alt" .alt "size" .size ) }}
            {{ end }}
            <p class="fs-5">{{ .copy }}</p>
          </div>
        {{ end }}
      </div>
    </div>
    {{ with .before_after }}
      {{ $before := resources.Get .before }}
      {{ $after := resources.Get .after }}
      {{ $afterAfter := resources.Get .after_after }}
      <div class="row mb-5">
        <div class="col-lg-6 mx-auto">
          <div class="d-flex justify-content-center text-center px-5">
            <div>
              <div class="bg-light ms-lg-n6 ps-lg-6 mb-2">
                <img loading="lazy" class="img-fluid" width="450px" height="1119px" src='{{ ( $before.Fit "450x1119 webp Center" ).RelPermalink }}' alt="Before weight loss" />
              </div>
              <img loading="lazy" src="/images/before-text.svg" height="16px" alt="" />
              <p class="visually-hidden">Before</p>
            </div>
            <div>
              <div class="bg-light mb-2">
                <img loading="lazy" class="img-fluid" width="450px" height="1119px" src='{{ ( $after.Fit "450x1119 webp Center" ).RelPermalink }}' alt="After weight loss" />
              </div>
              <img loading="lazy" src="/images/after-text.svg" height="16px" alt="" />
              <p class="visually-hidden">After</p>
            </div>
            <div>
              <div class="bg-light me-lg-n6 pe-lg-6 mb-2">
                <img loading="lazy" class="img-fluid" width="450px" height="1119px" src='{{ ( $afterAfter.Fit "450x1119 webp Center" ).RelPermalink }}' alt="After after weight loss" />
              </div>
              <img loading="lazy" src="/images/after-after-text.svg" height="16px" alt="" />
              <p class="visually-hidden">After After</p>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
    <h2 class="recoleta-light text-center display-3 mb-5">{{ .heading_2 }}</h2>
    <ul class="list-unstyled fg-ul-green-checkmarks fs-4 poppins-light fg-column-count-lg-2">
      {{ range .struggles }}
        <li class="mb-4">{{ . }}</li>
      {{ end }}
    </ul>
    <div class="row justify-content-center mt-5">
      <div class="col-xl-7">
        <div class="p-5 bg-light rounded-3 text-center">
          <p class="display-5 recoleta-medium">{{ .cta_heading }}</p>
          {{ if .cta }}
            {{ range .cta }}
              {{ partial "simple/button.html" . }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}