{{ $order := "" }}
{{ $image := "" }}
{{ $imageAlt := "" }}
{{ $stars := "/icons/star-rating.svg" }}
{{ with site.Data.homepage.hit_your_goal }}
<section id="hit-your-goal" class="pt-6" aria-labelledby="hit-your-goal-label">
  <div class="container mt-n10">
    <div class="row">
      {{ $image := "images/sticky-note.png" }}
      <div class="col-8 col-lg-5 col-xl-4 mx-auto position-relative d-flex align-items-center justify-content-center">
        <img id="sticky-note" class="img-fluid me-n5" loading="lazy" src="{{ $image }}" height="695px" width="1000px" alt="Slice of pizza with dripping cheese" />
      </div>
    </div>
  </div>
  <div class="container pt-5">
    <p class="text-center">{{ .super_heading }}</p>
    <h2 id="hit-your-goal-label" class="recoleta-light display-3 text-center mb-4">{{ .heading }}</h2>
    <div class="row">
      <div class="col-xxl-10 mx-xxl-auto">
        <p class="fs-4 poppins-light text-center">{{ .lead }}</p>
      </div>
    </div>
    {{ range $i, $_ := .items }}

      {{ if not ( modBool $i 2 ) }}
        {{ $order = "order-lg-3" }}
      {{ else }}
        {{ $order = "order-lg-1" }}
      {{ end }}

      {{ if .photo_alt }}
        {{ $imageAlt = .photo_alt }}
      {{ end }}
      
      <div class="row my-5 gx-5 gx-xl-6 fs-5">
        <div class="col-lg-6 {{ $order }} mb-4 mb-lg-0">
          {{ if .testimonial }}
            {{ with .testimonial }}
              {{ $name := .name }}
              <div class="bg-light rounded-4 text-center">
                <div class="row">
                  <div class="col-12 col-sm">
                    <div class="p-5">
                      <p class="small">{{ .name }}</p>
                      <img class="mb-3" src="{{ $stars }}" height="20px" width="150px" alt="5-star review icon" />
                      <blockquote class="recoleta-light fs-4">
                        “{{ .quote | markdownify }}”
                      </blockquote>
                    </div>
                  </div>
                  {{ with .photo }}
                    {{ $src := resources.Get . }}
                    <div class="col-12 col-sm-4 rounded-end-4">
                      <div class="bg-primary h-100 rounded-end-4 position-relative">
                        <div class="d-sm-none bg-primary position-absolute h-100 w-100" style="content: ''"></div>
                        <div class="ms-sm-n5 d-flex align-items-end h-100 position-relative">
                          <img loading="lazy" class="img-fluid rounded-end-4" src='{{ ( $src.Fit "640x960 webp Center" ).RelPermalink }}' alt="Portrait of {{ $name }}" />
                        </div>
                      </div>
                    </div>
                  {{ end }}
                </div>
              </div>
            {{ end }}
          {{ else if .photo }}
            {{ $image = resources.Get .photo }}
            <img loading="lazy" class="img-fluid rounded-4" src='{{ ( $image.Fill "960x540 webp Center" ).RelPermalink }}' alt="{{ $imageAlt }}" />
          {{ end }}
        </div>
        <div class="col-lg-6 order-2 d-flex align-items-center mb-4 mb-lg-0">
          <div>
            <h3 class="recoleta-medium fw-bold mb-4">{{ .heading }}</h3>
            <p class="mb-4 poppins-light">{{ .copy }}</p>
            {{ if .list }}
              <ul class="list-unstyled fg-ul-green-checkmarks mb-4 poppins-light">
                {{ range .list }}
                  <li>{{ . }}</li>
                {{ end }}
              </ul>
            {{ end }}
            {{ if .cta }}
              {{ range .cta }}
                {{ partial "simple/button.html" . }}
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
</section>
{{ end }}