{{ with site.Data.homepage.weight_over }}
<section id="weight-over" class="py-6 pt-14 mt-n14 text-center bg-light text-center" aria-labelledby="weight-over-label">
  <div class="container mt-n4">
    <div class="row">
      <div class="col-xl-11 mx-xl-auto">
        <h2 id="weight-over-label" class="recoleta-medium display-4 mb-3">{{ .heading }}</h2>
        <p class="fs-4 poppins-light mb-4">
          {{ .copy }}
        </p>
        {{ if .cta }}
          {{ range .cta }}
            {{ partial "simple/button.html" . }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}