{{ $image := "" }}
{{ with site.Data.homepage.yo_yo_no_mo }}
<section class="text-center pb-5 position-relative bg-light" aria-labelledby="yo-yo-no-mo-label">
  {{ if .photo }}
    {{ $image = resources.Get .photo }}
  {{ end }}
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-5 col-xl-4 mx-auto position-relative d-flex align-items-center justify-content-center">
        <img class="img-fluid position-absolute" loading="lazy" src="{{ $image.RelPermalink }}" height="695px" width="1000px" alt="Slice of pizza with dripping cheese" />
      </div>
    </div>
  </div>
  <div class="container mt-12">
    <div class="row">
      <div class="col-xl-10 col-xxl-9 mx-xl-auto">
        <p>{{ .super_heading }}</p>
        <h2 id="yo-yo-no-mo-label" class="recoleta-medium display-5 mb-3 fw-bold">{{ .heading }}</h2>
        <div class="fs-5 mb-5 poppins-light">{{ .copy | markdownify }}</div>
        {{ if .cta }}
          {{ range .cta }}
            {{ partial "simple/button.html" . }}
          {{ end }}
        {{ end }}
        <div class="row mt-5">
          <div class="col-xl-6 col-md-8 mx-md-auto">
            <p class="mb-0 small">{{ .postscript }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}