{{ with site.Data.settings }}
<footer class="pt-5 pb-4 bg-dark text-white">
  <!-- Comment -->
  <div class="container">
    <div class="row mb-5">
      <div class="col-xxl-10">
        <div class="row">
          <div class="col-xl-4">
            <img class="mb-4" title="For Good: Weight Loss That Works" src="for-good-logo-white.svg" alt="For Good logo" width="150px" height="" />
            <p class="text-dark-emphasis small">{{ .footer_copy }}</p>
          </div>
          <div class="col-xl-7 ms-xl-auto lh-lg">
            <div class="row">
              <div class="col">
                <ul class="list-unstyled">
                  {{- with .site_menu }}
                    {{- range . }}
                      <li>
                        <a class="text-white text-decoration-none" href="{{ .url }}">{{ .menu_item }}</a>
                      </li>
                    {{- end }}
                  {{ end }}
                </ul>
              </div>
              <div class="col">
                <ul class="list-unstyled">

                </ul>
              </div>
              <div class="col">
                <ul class="list-unstyled">
                  {{ range .social_media_accounts }}
                    <li>
                      <a class="text-white text-decoration-none" href="{{ .url }}">{{ .platform }}</a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-dark-emphasis small mb-0">&copy; {{ now.Year }} For Good Weight Loss</p>
  </div>
</footer>
{{ end }}