{{ $linkClasses := "text-white text-decoration-none" }}
{{ with site.Data.settings }}
<footer class="pt-5 pb-4 bg-dark text-white">
  <!-- Comment -->
  <div class="container">
    <div class="row mb-5">
      <div class="col-xxl-10">
        <div class="row">
          <div class="col-lg-4">
            <img class="mb-4" title="For Good: Weight Loss That Works" src="for-good-logo-white.svg" alt="For Good logo" width="150px" height="" />
            <p class="text-white-50 small">{{ .footer_copy }}</p>
          </div>
          <div class="col-lg-8 col-xl-7 ms-xl-auto lh-lg">
            <div class="row">
              <div class="col-md">
                <ul class="list-unstyled">
                  {{- with .site_menu }}
                    {{- range . }}
                      <li>
                        <a class="{{ $linkClasses }}" href="{{ .url }}">{{ .menu_item }}</a>
                      </li>
                    {{- end }}
                  {{ end }}
                </ul>
              </div>
              <div class="col-md">
                <ul class="list-unstyled">
                  {{ with .chat }}
                    <li><a href="{{ .url }}" class="{{ $linkClasses }}">{{ .title }}</a></li>
                  {{ end }}
                  {{ with .phone }}
                    <li><a href="tel:{{ . }}" class="{{ $linkClasses }}">{{ . }}</a></li>
                  {{ end }}
                  {{ with .members }}
                    <li><a href="{{ .url }}" class="{{ $linkClasses }}">{{ .title }}</a></li>
                  {{ end }}
                </ul>
              </div>
              <div class="col-md">
                <ul class="list-unstyled">
                  {{ range .social_media_accounts }}
                    <li>
                      <a class="{{ $linkClasses }}" href="{{ .url }}">{{ .platform }}</a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-white-50 small mb-0">&copy; {{ now.Year }} For Good Weight Loss</p>
  </div>
</footer>
{{ end }}