{{ define "main" }}

{{ partial "components/hero.html" . }}

{{ partial "components/blob.html" . }}

{{ partial "components/series-quit.html" . }}

{{ partial "components/stats.html" . }}

{{ partial "components/keep-it-off.html" . }}

{{ partial "components/mission.html" . }}

{{ partial "components/guides.html" . }}

{{ partial "components/average-loss.html" . }}

{{ partial "components/weight-over.html" . }}

{{ partial "components/how-we-re-different.html" . }}

{{ partial "components/1-in-235-million.html" . }}

{{ partial "components/weight-loss-that-works.html" . }}

{{ partial "components/hit-your-goal.html" . }}

{{ partial "components/best-things.html" . }}

{{ partial "components/change-your-life.html" . }}

{{ partial "components/yo-yo-no-mo.html" . }}

{{ partial "components/we-get-it.html" . }}

{{ partial "components/made-for-each-other.html" . }}

{{ partial "components/nothing-to-lose.html" . }}

{{ end }}